@import
	url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/* background-color: #f8f8f8; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	background-color: #009688 !important;
	background-image: url("../images/skulls.png");
	/* background-size: cover; */
	background-repeat: none;
}
.container {
	margin: 3% auto;
	max-width: 87%;
	min-height: 580px;
	padding-right: 0px !important;
    padding-left: 0px !important;
	/* background-color: #e6e6e6; */
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	background-image: url(http://img13.deviantart.net/31cf/i/2015/028/8/6/super_hero_whatsapp_background_by_x_ama-d8fr7iz.jpg);
    background-size: cover;
}
.container .left {
	float: left;
	width: 30.0%;
	height: 580px;
	background-color: #e6e6e6;
	border-right: 1px solid #ccc;
}
.container .left .top {
	position: relative;
	width: 100%;
	height: 10%;
	min-height: 15%;
	padding: 0px;
	/* padding: 14px; */
}
.container .left .top .name{
	color: #1a1a1a;
    width: 80%;
	font-family:Georgia;
	font-style:normal;
	font-variant:small-caps;
	font-weight: 800;
}
.container .left .top .profile_edit{
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	width: 10%;
	padding-top: 15px;
}
.container .left .top .preview{
	font-family:Georgia;
	font-style:italic;
	font-size: 14px;
	display: inline-block;
	overflow: hidden !important;
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #686262;
}
hr.style13 {
	height: 1px;
	margin-top: 3px !important;
    margin-bottom: 3px !important;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.container .left input {
	float: left;
	width: 188px;
	height: 42px;
	padding: 0 15px;
	border: 1px solid #e6e6e6;
	background-color: #eceff1;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	border-radius: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.container .left input:focus {
	outline: none;
}
.container .left .top span {
    font-size: 15px;
    color: #999;
}
.container .left a.search {
	display: block;
	float: left;
	width: 42px;
	height: 42px;
	margin-left: 10px;
	border: 1px solid #e6e6e6;
	background-color: #00b0ff;
	background-image: url("http://s11.postimg.org/dpuahewmn/name_type.png");
	background-repeat: no-repeat;
	background-position: top 12px left 14px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.container .left .people {
	/* margin-left: -1px;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6; */
	width: -moz-calc(100% +   2px);
	width: -webkit-calc(100% +   2px);
	width: -o-calc(100% +   2px);
	width: calc(100% +   2px);
}

.container .left .people .person {
	position: relative;
	width: 100%;
	padding: 10px 3% 13px;
	cursor: pointer;
}

.container .left .people .person:after {
	position: absolute;
	height: 1px;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
	/* bottom: 0;
	left: 50%;
	display: block;
	width: 80%;
	height: 1px;
	content: '';
	background-color: #8c8b8b;
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0); */
}

.container .left .people .person img {
	float: left;
	width: 55px;
	height: 55px;
	margin-right: 12px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.container .left .people .person .name,.container .left .top .name {
	font-size: 14px;
	line-height: 22px;
	color: #1a1a1a;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.container .left .people .person .time {
	font-size: 14px;
	position: absolute;
	top: 16px;
	right: 10%;
	padding: 0 0 5px 5px;
	color: #999;
}

.container .left .people .person .preview {
	font-size: 14px;
	display: inline-block;
	overflow: hidden !important;
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #999;
}

.container .left .people .person.active
	{
	/* margin-top: -1px;
	margin-left: -1px;
	padding-top: 13px; */
	border: 0;
	background-color: #19a093;
	border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #009688;
	/* width: -moz-calc(100% +   2px);
	width: -webkit-calc(100% +   2px);
	width: -o-calc(100% +   2px);
	width: calc(100% +   2px); */
	/* padding-left: -moz-calc(10% +   1px);
	padding-left: -webkit-calc(10% +   1px);
	padding-left: -o-calc(10% +   1px);
	padding-left: calc(10% +   1px); */
}
.container .left .people .person:hover {
	/* TODO */
}

.container .left .people .person.active span
	{
	color: #fff;
	background: transparent;
}
.container .left .people .person:hover span {
	
}

.container .left .people .person.active:after,.container .left .people .person:hover:after
	{
	display: none;
}
.container .right {
	position: relative;
	float: left;
	width: 70%;
	height: 580px;
	background-image: url(http://img13.deviantart.net/31cf/i/2015/028/8/6/super_hero_whatsapp_background_by_x_ama-d8fr7iz.jpg);
    background-size: cover;
}
.container .right .top {
	width: 100%;
	height: 10%;
	padding: 15px 15px;
	background-color: #e6e6e6;
}

.container .right .top span {
	font-size: 15px;
	color: #999;
}

.container .right .top span .name {
	color: #1a1a1a;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.container .right .chat {
	position: relative;
	display: none;
	overflow: hidden;
	padding: 0 35px 92px;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #e6e6e6;
	height: -moz-calc(100% -   48px);
	height: -webkit-calc(100% -   48px);
	height: -o-calc(100% -   48px);
	height: calc(100% -   48px);
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.container .right .chat.active-chat {
	display: block;
	display: -webkit-flex;
	display: flex;
}

.container .right .chat.active-chat .bubble {
	-moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
	-o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
	transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.container .right .chat.active-chat .bubble:nth-of-type(1) {
	-moz-animation-duration: 0.15s;
	-webkit-animation-duration: 0.15s;
	animation-duration: 0.15s;
}

.container .right .chat.active-chat .bubble:nth-of-type(2) {
	-moz-animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.container .right .chat.active-chat .bubble:nth-of-type(3) {
	-moz-animation-duration: 0.45s;
	-webkit-animation-duration: 0.45s;
	animation-duration: 0.45s;
}

.container .right .chat.active-chat .bubble:nth-of-type(4) {
	-moz-animation-duration: 0.6s;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

.container .right .chat.active-chat .bubble:nth-of-type(5) {
	-moz-animation-duration: 0.75s;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
}

.container .right .chat.active-chat .bubble:nth-of-type(6) {
	-moz-animation-duration: 0.9s;
	-webkit-animation-duration: 0.9s;
	animation-duration: 0.9s;
}

.container .right .chat.active-chat .bubble:nth-of-type(7) {
	-moz-animation-duration: 1.05s;
	-webkit-animation-duration: 1.05s;
	animation-duration: 1.05s;
}

.container .right .chat.active-chat .bubble:nth-of-type(8) {
	-moz-animation-duration: 1.2s;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
}

.container .right .chat.active-chat .bubble:nth-of-type(9) {
	-moz-animation-duration: 1.35s;
	-webkit-animation-duration: 1.35s;
	animation-duration: 1.35s;
}

.container .right .chat.active-chat .bubble:nth-of-type(10) {
	-moz-animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

.container .right .write {
	position: absolute;
	bottom: 5%;
	left: 30px;
	height: 10%;
	padding-left: 8px;
	border: 1px solid #e6e6e6;
	background-color: #eceff1;
	width: -moz-calc(100% -   58px);
	width: -webkit-calc(100% -   58px);
	width: -o-calc(100% -   58px);
	width: calc(100% -   58px);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.container .right .write input {
	font-size: 16px;
	float: left;
	width: 85%;
	height: 100%;
	padding: 0 10px;
	color: #1a1a1a;
	border: 0;
	outline: none;
	background-color: #eceff1;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.container .right .write .write-link.attach:before {
	display: inline-block;
	float: left;
	width: 20px;
	height: 42px;
	content: '';
	background-image: url("http://s1.postimg.org/s5gfy283f/attachemnt.png");
	background-repeat: no-repeat;
	background-position: center;
}

.container .right .write .write-link.smiley:before {
	display: inline-block;
	float: left;
	width: 20px;
	height: 42px;
	content: '';
	background-image: url("http://s14.postimg.org/q2ug83h7h/smiley.png");
	background-repeat: no-repeat;
	background-position: center;
}

.container .right .write .write-link.send:before {
	display: inline-block;
	float: left;
	width: 20px;
	height: 42px;
	margin-left: 11px;
	content: '';
	background-image: url("http://s30.postimg.org/nz9dho0pp/send.png");
	background-repeat: no-repeat;
	background-position: center;
}

.container .right .bubble {
	font-size: 16px;
	position: relative;
	display: inline-block;
	clear: both;
	margin-bottom: 8px;
	padding: 13px 14px;
	vertical-align: top;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.container .right .bubble:before {
	position: absolute;
	top: 19px;
	display: block;
	width: 8px;
	height: 6px;
	content: '\00a0';
	-moz-transform: rotate(29deg) skew(-35deg);
	-ms-transform: rotate(29deg) skew(-35deg);
	-webkit-transform: rotate(29deg) skew(-35deg);
	transform: rotate(29deg) skew(-35deg);
}

.container .right .bubble.you {
	float: left;
	color: #fff;
	background-color: #00b0ff;
	-webkit-align-self: flex-start;
	align-self: flex-start;
	-moz-animation-name: slideFromLeft;
	-webkit-animation-name: slideFromLeft;
	animation-name: slideFromLeft;
}

.container .right .bubble.you:before {
	left: -3px;
	background-color: #00b0ff;
}

.container .right .bubble.me {
	float: right;
	color: #1a1a1a;
	background-color: #eceff1;
	-webkit-align-self: flex-end;
	align-self: flex-end;
	-moz-animation-name: slideFromRight;
	-webkit-animation-name: slideFromRight;
	animation-name: slideFromRight;
}

.container .right .bubble.me:before {
	right: -3px;
	background-color: #eceff1;
}

.container .right .conversation-start {
	position: relative;
	width: 100%;
	margin-bottom: 27px;
	text-align: center;
}

.container .right .conversation-start span {
	font-size: 14px;
	display: inline-block;
	color: #999;
}

.container .right .conversation-start span:before,.container .right .conversation-start span:after
	{
	position: absolute;
	top: 10px;
	display: inline-block;
	width: 30%;
	height: 1px;
	content: '';
	background-color: #e6e6e6;
}

.container .right .conversation-start span:before {
	left: 0;
}

.container .right .conversation-start span:after {
	right: 0;
}

@
keyframes slideFromLeft { 0% {
	margin-left: -200px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}

100%
{
margin-left
:
 
0;
filter
:
 
progid
:DXImageTransform
.Microsoft
.Alpha
(enabled=false);

    
opacity
:
 
1;
}
}
@
-webkit-keyframes slideFromLeft { 0% {
	margin-left: -200px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}

100%
{
margin-left
:
 
0;
filter
:
 
progid
:DXImageTransform
.Microsoft
.Alpha
(enabled=false);

    
opacity
:
 
1;
}
}
@
keyframes slideFromRight { 0% {
	margin-right: -200px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}

100%
{
margin-right
:
 
0;
filter
:
 
progid
:DXImageTransform
.Microsoft
.Alpha
(enabled=false);

    
opacity
:
 
1;
}
}
@
-webkit-keyframes slideFromRight { 0% {
	margin-right: -200px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}

100%
{
margin-right
:
 
0;
filter
:
 
progid
:DXImageTransform
.Microsoft
.Alpha
(enabled=false);

    
opacity
:
 
1;
}
}
.credits {
	color: white;
	font-size: 11px;
	position: absolute;
	bottom: 10px;
	right: 15px;
}

.credits a {
	color: white;
	text-decoration: none;
}
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  background-color: #ddd !important;
  background-image: url(../images/skulls.png);
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.loginmodal-container select {
	height: 44px;
	font-size: 16px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: url(../icons/arrow_down.png) no-repeat 98% #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	border-radius: 2px;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	/* border: 1px solid #ccc; */
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}
.loginmodal-logo {
  max-width: 100%;
  height: auto;
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
/* status change drop down css */
.left .top .dropdown {
	position: relative;
	display: inline-block;
	 z-index: 10;
}

.left .top .dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.left .top .dropdown-content a {
	border-bottom: 1px solid #e6e6e6;
	padding: 3px 3px;
	text-decoration: none;
	display: block;
	font-size: 11px;
	line-height: 12px;
	color: #1a1a1a;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.left .top .dropdown-content>a:hover {
	color: #fff;
	background-color: #19a093;
	text-decoration: none;
}
.left .top .dropdown-content> a > .glyphicon {
	color: #00B0FF !important;
	/* padding: 5px 10px; */
	background-color: #fff;
}
.left .top .dropdown-content> a:hover > .glyphicon {
	color: #fff !important;
	background-color: #00B0FF;
}
.left .top .dropdown:hover .dropdown-content {
	display: block;
}
/* drop down css */
.dropdown {
	position: relative;
	display: inline-block;
	 z-index: 10;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #E6E6E6;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	border-bottom: 1px solid #e6e6e6;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 14px;
	line-height: 12px;
	color: #1a1a1a;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.dropdown-content>a:hover {
	color: #fff;
	background-color: #19a093;
	text-decoration: none;
}
.dropdown-content> a > .glyphicon {
	color: #19a093 !important;
	padding: 5px 10px;
	background-color: #E6E6E6;
}
.dropdown-content> a:hover > .glyphicon {
	color: #fff !important;
	background-color: #19a093;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.containerdiv {
  border: 0;
  float: left;
  position: relative;
}
.cornerimage {
	position: relative;
    bottom: -34%;
    left: -4%;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.avatar {
	border-radius: 50%;
    overflow: hidden;
	float: left;
    width:50px;
    height:50px;
    /* margin-right: 12px;
    border:1px solid #337ab7;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px; */
}
.ring {
    width:25px;
    height:25px;
    margin-right: 12px;
    border:2px solid #37c037;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}
.inline{
	display: inline-block;
}
.scroll-container{
	height: 480px !important;
	overflow-y: scroll !important;
	display: block !important;
}
h5{
	font-family: Slab,Georgia,serif !important;
    -webkit-font-smoothing: antialiased;
}
.chat-container {
	position: absolute;
	bottom: 15%;
	left: 30px;
	height: 75%;
	width: calc(100% - 58px);
}
.chat-container .chat-top {
	height: 70%;
	width: 100%;
	position: absolute;
	background-color: white;
}
.chat-container .smiley {
	bottom: 1%;
	height: 50%;
	width: 100%;
	position: absolute;
	background-color: white;
}
/* Navigation tabs  */
.nav-tabs {
	border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover
	{
	border-width: 0;
}

.nav-tabs>li>a {
	border: none;
	color: #666;
}

.nav-tabs>li.active>a,.nav-tabs>li>a:hover {
	border: none;
	color: #4285F4 !important;
	background: transparent;
}

.nav-tabs>li>a::after {
	content: "";
	background: #4285F4;
	height: 4px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}

.nav-tabs>li.active>a::after,.nav-tabs>li:hover>a::after {
	transform: scale(1);
}

.tab-nav>li>a::after {
	background: #21527d none repeat scroll 0% 0%;
	color: #fff;
}

.tab-pane {
	padding: 0px 0;
}

.tab-content {
	padding: 10px
}
.tab-scroll{
	height: 75%;
	overflow-y: auto;
	display: block;
}
/* .card {
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	height: 100%;
} */
.card {
  /* background: #fff; */
  display: inline-block;
  height: 300px;
  position: relative;
  width: 300px;
}
/* 
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.card-2 {
  box-shadow: 0 10px 10px -4px rgba(0,0,0,0.16);
}
.card-top {
	box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.16);
}

.card-right {
	box-shadow: 5px 0 5px -5px rgba(0,0,0,0.16);
}

.card-bottom {
	box-shadow: 0 5px 5px -5px rgba(0,0,0,0.16);
}

.card-left {
	box-shadow: -5px 0 5px -5px rgba(0,0,0,0.16);
}

.box {
	margin: 10px;
	border: 1px solid #ccc;
}

.right1 {
	box-shadow: 5px 0 5px -5px #333;
}
.profile-wrapper {
  height: 100%;
  overflow: hidden;
  padding: 10px;
}
.c1 {
    float:left;
    width: 20%;
    height: 100%;
}

.c2 {
    display: inline-block;
    width:70%;
    height: 100%;
}

.c3 {
    float:right;
    width:10%;
    height: 100%;
}

/* article {
  float: right;
  padding: 14px 14px 20px;
  width: 221px;
  border-bottom: 1px solid #eee;
} */